/*Basic style layout*/
html {
    scroll-padding-top: 100px;
}

body {
    background-color: #237db1;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*Header styles*/
header {
    background-color: #186899;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container h3 {
    font-size: 15px;
    margin-left: 15px;
}

header h1, header h3 {
    margin: 0;
    display: inline-block;
    margin-left: 30px;
}

/*Nav link styles*/
nav {
    margin-right: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 55px;
    padding: 0;
    margin-left: auto;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*Section styles*/
section {
    padding: 120px 20px 20px;
}

/*About Me section styles*/
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.about-container img {
    width: 450px !important;
    height: auto;
    border-radius: 10px;
}

.about-text {
    max-width: 600px;
    text-align: justify;
    color: white;
}

.about-text h2 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 40px;
}

.about-text p {
    font-size: 24px;
}

/*Skill & hobbies section styles*/
.skills-hobbies {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 120px 50px 50px;
    color: white;
}

.skills h2, .hobbies h2 {
    font-size: 40px;
}

.skills ul {
    list-style: disc;
    padding-left: 20px;
    font-size: 24px;
}

.hobbies dl dt {
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 15px;
}

.hobbies dl dd {
    margin: 0 0 30px 0;
    font-size: 20px;
}

/*Contact section styles*/
.contact-container {
    color: white;
}

.contact-container h2 {
    font-size: 40px;
}

.contact-container p {
    font-size: 24px;
}

.contact-container ul {
    font-size: 20px;
}

.contact-container a {
    color: #bfe5fd;
}

.contact-container a:hover {
    color: #144696;
}

.contact-container button {
    font-size: 20px;
    margin-top: 20px;
}

.download-resume {
    margin-top: 20px;
}

/*Footer styles*/
footer {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 16px;
}